@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Variables */
$font-text: "Montserrat", sans-serif;
$font-color: #1b1818;
$primary-bgcolor: #4f59f2;
$table-bgcolor: #d2d3f1;

$secondary-bgcolor: rgba(141, 204, 163, 1);
$default-color: #f2f2f2;
