@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Variables */
$font-text: "Montserrat", sans-serif;
$font-color: #1b1818;
$primary-bgcolor: rgba(255, 198, 210, 1);
$secondary-bgcolor: rgba(255, 144, 168, 1);
