@use "variables";
@import "../components/WrapperCards/WrapperCards.scss";
@import "../components/SearchBar/SearchBar.scss";


/* Global css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: variables.$font-text;
}

body {
  background: linear-gradient(
    330deg,
    variables.$primary-bgcolor,
    variables.$secondary-bgcolor
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 90%;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  background-color: variables.$default-color;
  height: min-content;
}

h1 {
  font-size: 1.8rem;
  line-height: 150%;
}

h2 {
  font-size: 1.4rem;
  line-height: 150%;
}

h3 {
  font-size: 1.2rem;
  line-height: 150%;
}

h4 {
  font-size: 1rem;
  line-height: 150%;
  margin: 1rem 0;
}

p,
summary {
  font-size: 1rem;
  line-height: 150%;
}

ul {
  margin-left: 1rem;

  li {
    margin: 0.5rem 0;
  }
}

details {
  text-align: left;

  summary {
    margin: 0.8rem 0;
    padding: 0.8rem;
    text-align: left;
    background-color: variables.$secondary-bgcolor;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img {
      width: 2rem;
      margin-left: auto;
    }
  }
}

.wrapperTable {
  overflow-x: scroll;

  table {
    font-size: 14px;
    color: #333333;
    width: 100%;
    border-width: 1px;
    border-color: variables.$secondary-bgcolor;
    border-collapse: collapse;

    th {
      font-size: 14px;
      background-color: variables.$secondary-bgcolor;
      padding: 8px;
      text-align: left;
    }
    tr {
      background-color: variables.$table-bgcolor;
    }
    td {
      font-size: 14px;
      padding: 8px;

      img {
        width: 2rem;
      }
    }
  }
}

/* hack */
.d-sm-none {
  display: none;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

/* Media Queries desktop */
@media screen and (min-width: 768px) {
  #root {
    max-width: 768px;
    padding: 2rem;
  }

  .d-sm-none {
    display: block;
  }
}
