@use "variables";
@import "../components/WrapperCards/WrapperCards.scss";

/* Global css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: variables.$font-text;
}

body {
  background: linear-gradient(
    330deg,
    variables.$primary-bgcolor,
    variables.$secondary-bgcolor
  );
  background-size: cover;
  margin: 0;
  display: flex;
  place-items: center;
  height: 100vh;
  width: 100%;
}

#root {
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  background-color: variables.$default-color;
}
